<footer>
    <div class="container">

      <div class="div1">
        <h3>Services</h3>
        <ul>
          <li><a href="#">Emergency room services</a></li>
          <li><a href="#">X-ray/radiology services</a></li>
          <li><a href="#">General and specialty surgical services</a></li>
          <li><a href="#">Blood services</a></li>
          <li><a href="#">Laboratory services </a></li>
        </ul>
      </div>
      <div class="div2">
        <h3>About</h3>
        <ul>
          <li><a href="#">Hospital</a></li>
          <li><a href="#">Specilist</a></li>
          <li><a href="#">Doctor/Nurses</a></li>
          <li><a href="#">Team</a></li>
          <li><a href="#">Careers</a></li>
        </ul>
      </div>
    </div>
    <div class="div3">
      <h3>Life-Care</h3>
      <p>Life care is the holistic approach of providing physical, emotional, and social support to individuals
        throughout their life. <br> It encompasses various aspects such as healthcare, education, employment, and
        social integration. </p>
    </div>
    <div class="icons">
      <a href="https://www.facebook.com/"><i class="icon ion-social-facebook"></i></a>
      <a href="https://twitter.com"><i class="icon ion-social-twitter"></i></a>
      <a href="https://www.instagram.com/"><i class="icon ion-social-instagram"></i></a>
    </div>

    <p class="copyright">Company Name © Life-Care</p>

  </footer>


</div>

<script src="/javascripts/menu.js"></script>
<script src="/javascripts/search.js"></script>
</body>

</html>