<div id="nav">
  <div class="nav_part1">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScYKr66CsFKykKX01NQtc-JhmcelTC05oE3w&usqp=CAU"
      #="img" alt="">
    <div id="logo">
      <h1>Life-Care</h1>
    </div>
    </div>
    <div class="nav_part2">
      <h3><a href="/">Home</a></h3>
      <h3><a href="/service_care">Care & Service</a></h3>
      <h3><a href="/appointment">Appointment</a></h3>
      <h3><a href="/location">Near Location</a></h3>
      <h3><a href="/about">About Us</a></h3>
      <h3><a href="/signup">Sign Up</a></h3>
      <h3><button><a href="/signin">Sign In</a></button></h3>
   
      <h2 id="toggle"><i class="ri-menu-line"></i></h2>
    </div>
    <!-- <a href="#" class="nav-toggel hover-link">
      <i class="ri-menu-line"></i>
    </a> -->
  </div>