<!-- head -->
<%- include("partials/header")%>
<%- include("partials/nav")%>
  <div class="main">
     <!-- nav -->
     <div class="menu1"></div>

     <div class="page1">
        <div class="left">
          <h1>Like education,<span> healthcare</span> also needs to be given importance.</h1>
          <p>If you don’t like the road you’re walking, start paving anothe Without ice cream, there would be chaos and darkness Good health is a crown on the head of a well person that only a sick person can see
          </p>
          <button>Read More</button>
        </div>
        <div class="right">
          <img
            src="https://static.vecteezy.com/system/resources/previews/001/981/735/original/couple-of-medical-staff-healthcare-workers-characters-free-vector.jpg"
            alt="img">
        </div>
      </div>

    

    <div class="page2">
      <!-- search box -->

      <div class="container1">

      <h2>Search Here Best Hospital Near You</h2>
      
      <form action="/form/submit" method="GET">
        <input type="text" name="text" class="search" placeholder="Search here for hospital!">
        <input type="submit" name="submit" class="submit" value="Search">
      </form>
    
  </div>

    <div class="container2">

      <div class="img_box one">
      <img src="https://c8.alamy.com/comp/WXGRY1/indian-doctor-mature-indian-male-medical-doctor-standing-isolated-on-white-background-handsome-indian-model-portrait-WXGRY1.jpg"  alt="dr img">
       <a href=""><button> Explore More</button> </a>
    </div>
     
    
      <div class="img_box two">
        <img src="https://images.unsplash.com/photo-1582750433449-648ed127bb54?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDR8fHxlbnwwfHx8fHw%3D&auto=format&fit=crop&&q=60" alt="dr img">
      <a href=""><button> Explore More</button> </a>
      </div>
    
      <div class="img_box three">
        <img src="https://thumbs.dreamstime.com/b/indian-doctor-woman-23462721.jpg" alt="dr img">
         <a href=""> <button> Explore More</button> </a>
      </div>

    </div>
  </div>
  
  
    <div class="page3">

      <div class="left3">
    
         <img src="https://img.freepik.com/free-photo/doctor-presenting-something-isolated-white-background_1368-5834.jpg?t=st=1687709693~exp=1687710293~hmac=7c1fe9c285a9a1bc703ac52ee374c630195cb2f6093b6441930f0d556cac5d4e" alt="">
      
      </div>

      <div class="right3">
        <h1>ABOUT US
          <hr>
        </h1>
        <p>Life-Care Hospital is a leading healthcare facility dedicated to providing exceptional medical
          services and personalized care to its patients. With a strong commitment to improving health
          outcomes, Life-Care offers a comprehensive range of healthcare services, including advanced
          diagnostics, state-of-the-art treatments, and specialized medical expertise. Our team of highly
          skilled physicians, nurses, and support staff work tirelessly to ensure the well-being and comfort
          of every patient who walks through our doors. At Life-Care, we prioritize patient-centered care.
          <br> <br>
          With a focus on compassion, quality, and innovation, Life-Care Hospital is committed to promoting
          the health and vitality of our community.
        </p>
        <h2>Working Hours
          <hr>
        </h2>
        <div id="time">

          <div id="day">
            <h1>DAY</h1>
            <p>Mon-Wed</p>
            <p>Thu-Fri</p>
            <p>Sat-Sun</p>
          </div>
          <div id="open">
            <h1>OPEN</h1>
            <p>10:00am</p>
            <p>09:00am</p>
            <p>09:30am</p>
          </div>
          <div id="close">
            <h1>CLOSE</h1>
            <p>09:30pm</p>
            <p>10:30pm</p>
            <p>08:30pm</p>
          </div>
          <!-- <span><h1>For Emergency -+(91) 1800-200-3000</h1></span> -->
        </div>
      </div>
    </div>
      <!-- page 4 -->
    <div class="page4">
      <div class="box4">
        <div class="part1">
          <img src="" alt="">
        </div>
        <div class="part2">
          <h1>The Advantages of <br>
            Using Our Healthcare
          </h1>
          <p>Life care is the holistic approach of providing physical, emotional, and social support to individuals
            throughout their lifespan. It encompasses various aspects such as healthcare, education, employment, and
            social integration. Life care emphasizes proactive measures to maintain and enhance overall well-being,
            rather than merely reacting to health issues. It involves promoting healthy lifestyles, preventive
            healthcare practices, early detection of diseases, and timely interventions. Life care also encompasses
            mental health support, fostering meaningful relationships, and ensuring access to quality healthcare
            services. By focusing on the individual's entire journey, life care aims to optimize their quality of life
            and enable them to thrive in all aspects of their existence.</p>
        </div>
      </div>

<!-- footer -->
      <%- include("partials/footer")%>